/*
  font-family: Muller; 300/400/500/600
*/

@font-face {
  font-family: Muller;
  src: url('./../assets/fonts/MullerRegular.woff') format('woff'),
        url('./../assets/fonts/MullerRegular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: Muller;
  src: url('./../assets/fonts/MullerMedium.woff') format('woff'),
        url('./../assets/fonts/MullerMedium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: Muller;
  src: url('./../assets/fonts/MullerLight.woff') format('woff'),
        url('./../assets/fonts/MullerLight.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: Muller;
  src: url('./../assets/fonts/MullerBold.woff') format('woff'),
        url('./../assets/fonts/MullerBold.woff2') format('woff2');
  font-weight: 600;
}








