
.service { margin-bottom: 4rem; }

.service__title { margin-left: 3rem; }

.service-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service-card {
  width: 100%;
  max-width: 570px;
  margin-bottom: 2rem;
}

.service-card__body {
  padding: 1.5rem;
  margin-top: -4px;
  background-color: var(--white);
  border-radius: 0 0 10px 10px;
}

.service-card__link {
  color: var(--accent);
  font-size: 1.2rem;
  font-weight: 500;
}

.service-card__link::after {
  content: "\203A";
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 300;
  vertical-align: middle;
  margin-left: .5rem;
  opacity: 0;
}

.service-card__link:hover { color: var(--hover); }

.service-card__link:hover::after { opacity: 1; }

.service-card__text {
  font-weight: 400;
  line-height: 1.6;
}
